{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">{% endblock %}

{% block li %} <li><a class="login"href="/login"><i class="fa fa-fw fa-user"></i> Log In</a></li> {% endblock %}

{% block body %}
    <div class="signup">
        <i>Sign Up</i>
        <form class="signup_form" action="{{ url_for('signup') }}" method="post">
            <div class="row">
              <div class="column_label">
                <label for="username">User Name</label>
              </div>
              <div class="column_input">
                <input type="text" id="username" name="username" placeholder="User Name">
              </div>
            </div>
            <div class="row">
              <div class="column_label">
                <label for="email">Email</label>
              </div>
              <div class="column_input">
                <input type="email" id="email" name="email" placeholder="DIU Email">
              </div>
            </div>
            <div class="row">
              <div class="column_label">
                <label for="student_id">Student ID</label>
              </div>
              <div class="column_input">
                <input type="text" id="student_id" name="student_id" placeholder="Student ID">
              </div>
            </div>
            <div class="row">
              <div class="column_label">
                <label for="password">Password</label>
              </div>
              <div class="column_input">
                <input type="password" id="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="column_label">
                <label for="password">Re-Password</label>
              </div>
              <div class="column_input">
                <input type="password" id="password" name="re_password" placeholder="Re-Password">
              </div>
            </div>
            <div class="row">
              <input type="submit" value="Submit">
          </div>
        </form>
    </div>
{% endblock %}
